.face
{
    height: 200px;
    width: 200px;
    background-color: yellow;
    border-radius: 50%;
    /* border-bottom: solid 30px green;
    border-bottom: solid 50px black; */
    position: relative;
}

.eye1
{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: indianred;
    position: absolute;
    top: 45px;
    left: 35px;
}
.eye2
{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: indianred;
    position: absolute;
    top: 45px;
    left: 140px;
}

.mouth
{
    background-color: indianred;
    height: 45px;
    width: 90px;
    border-radius: 0 0 90px 90px;
    position: absolute;
    top: 110px;
    left: 55px; 
    z-index: 1;
    overflow: hidden;   
}

.tongue
{
 background-color: palevioletred;
 height: 45px;
 width: 45px;
 border-radius: 50px;
 position: absolute;
 top: 20px;
 left: 23px;
 z-index: 2;
}