*{
    box-sizing: border-box;
}
body
{
    /* margin: 20px; */
    /* min-width: 100vw; */
}
.container
{   
    /* height: 800px; */
    border: 5px solid blue;
    display: flex;
    /* flex-direction: column-reverse; */
    /* justify-content:center; */
    /* justify-content:space-around; */
    /* justify-content:space-between; */
    justify-content:space-evenly;
    text-align: center;
    /* flex-wrap: wrap-reverse; */
    flex-wrap: wrap;
    margin-inline: auto;
    /* gap: 1rem; */
    min-height: 600px;
    max-width: 800px;
    /* align-items: center; */
    /* flex-direction: column-reverse; */
}
.item
{
    width: 200px ;
    height: 200px;
    background-color: darksalmon ;
    border: 3px double red;
    text-align: center;
    font-size: 35px;
}

.box{
    background: black;
    height: 100px;
    width: 100px;
    border: 5px solid white;
    color: white;
    /* display: flex; */
    padding: 0.5rem;
}