th,td{
    border: 1px solid black;
    border-collapse: collapse;
    /* border-collapse: separate; */
    /* clear: left; related to floating element, does not wrap clear the floating*/
}
/* table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    /* border-collapse: separate; 
}
 */
 /* *{
    margin: 0;
    padding: 0;
 } */

 /* h1 + p{
    margin: 0;
 } */
/* it select the h1 imidiate next p tag only */